@media only screen and (max-width: 479px) {
  body {
    background-color: rgba(255, 136, 0, 0.742);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  /*div#medium,
  div#large {
    display: none;
  }*/
  h1 {
    font-size: 18px;
  }
}
@media only screen and (min-width: 480px) {
  body {
    background-color: rgb(127, 199, 175);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  div#small {
    width: 66%;
    box-sizing: border-box;
  }
  div#medium {
    width: 33%;
    box-sizing: border-box;
  }
  div#large {
    width: 100%;
    box-sizing: border-box;
  }
  /*div#small,
  div#large {
    display: none;
  }*/
  h1 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1024px) {
  body {
    background-color: rgb(192, 72, 182);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
  }
  /*div#small,
  div#medium {
    display: none;
  }*/
  div#large {
    display: block;
  }
  h1 {
    font-size: 42px;
  }
}

div#small {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em;
  border: 0.2em solid black;
}

div#medium {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em;
  border: 0.2em solid black;
}

div#large {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em;
  border: 0.2em solid black;
}
